<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form  method="post" action="/post">
    <input type="text" placeholder="Enter your user name" name="username">
    <textarea placeholder="Enter Your Content here" name="content"></textarea>
    <button>Submit Post</button>
</form>
</body>
</html>